/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Funnel Sans';
}

img {
    width: 24px;
    height: 24px;
    fill: #eeeeee;
}

h1 {
    display: inline-block;
    padding: 8px;
}

body, html {
    height: 100%;
}

main {
    display: flex;
    height: 80%;
}

header {
    padding: 16px;
    height: 10%;
    background-color: #cccccc;
}

footer {
    padding: 16px;
    height: 10%;
    background-color: #cccccc;
}

button {
    margin: 4px;
    font-family: 'Funnel Sans';
    border-radius: 8px;
}

input {
    margin: 4px;
    font-family: 'Funnel Sans';
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    padding: 4px;
    background: none;
}

span {
    padding: 4px;
    border-radius: 4px;
}

ul {
    padding-left: 16px;
    list-style: none;
    display: block;
}

li {
    display: inherit;
    margin: 8px;
}

#fileNav {
    min-width: 260px;
    width: 25%;
    background-color: #dddddd;
}

#editor {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

#toolbar {
    height: 60px;
    display: block;
    width: 100%;
    background-color: #eeeeee;
    padding: 8px;
}

#edit {
    display: inline;
    width: 100%;
    /* height: calc(100% - 40px); */
    /* border: 2px solid black; */
}

#titleInput {
    width: 180px;
    font-size: 18px;
}

#fileBar {
    height: 40px;
    padding: 8px;
}

#fileBox {
    width: 100%;
    height: calc(100% - 40px);
    margin-top: 8px; 
}

#fileList {
    padding: 8px;
    height: 100%;
}

#searchBar {
    position: absolute;
    margin: 8px;
    display: block;
    top: 16px;
    right: 32px;
    width: 300px;
}

#dropdown {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

#resultDropdown {
    position: relative;
    background: #dddddd;
    top: 48px;
    right: 40px;
    width: 300px;
    /* height: 300px; */
    z-index: 10;
    /* box-shadow: 1px 1px 1px; */
    padding: 0px;
}

#dropdownList {
    padding: 0px;
}

#logo {
    height: 48px;
}

.li-span:hover {
    background: #ffffff;
}

.iconButton {
    padding: 4px;
    height: 24px;
    width: 32px;
    justify-content: center;
    align-content: center;
}

.iconButton svg {
    margin-left: auto;
    margin-right: auto;
}

.iconButton:hover {
    height: 28px;
    width: 32px;
}

.minCaretBtn {
    background: url("../icons/caret-down-solid.svg") no-repeat scroll 0 0 transparent;
    border: none;
    height: 18px;
    width: 18px;
}

.maxCaretBtn {
    background: url("../icons/caret-right-solid.svg") no-repeat scroll 0 0 transparent;
    border: none;
    height: 18px;
    width: 18px;
}

.note {
    background: none;
    font-style: normal;
}

.folder {
    background: none;
    font-style: italic;
}

.selected {
    font-weight: bold;
}

.nonSelected {
    font-weight: normal;
}

.tool-button {
    min-width: 32px;
    padding: 6px;
    border-style: none;
    background: #eeeeee;
    color: #111111;
    box-shadow: 3px 3px 2px 0px #aaaaaa;
}

.tool-button:disabled {
    background: #bbbbbb;
    box-shadow: none;
}

.tool-button:hover:enabled {
    background: #ffffff;
    font-weight: bold;
}

.search-result {
    padding: 8px;
    margin: 0px;
}

.search-result:hover {
    background: #ffffff;
}

